In [1]:
# Load in the tweets files to variable dftweets
import pandas as pd
import csv
filename = 'Tweets.csv'
dftweets = pd.read_csv(filename)
dftweets.head()

,created_at,display_text_range,favorite_count,Bad experience,full_text
0,Mon Mar 18 11:05:04 +0000 2019,"[46, 174]",0,0,@fictillius @christiansarkis @AndrewConstance ...
1,Mon Mar 18 09:52:46 +0000 2019,"[0, 222]",1,0,"Hey @AndrewConstance, thanks in advance for br..."
2,Mon Mar 18 09:33:00 +0000 2019,"[0, 280]",6,0,State Election: Transport Minister @AndrewCons...
3,Mon Mar 18 07:38:55 +0000 2019,"[0, 92]",1,0,"The worst delay was 21 minutes, on the 15:50 C..."
4,Mon Mar 18 07:38:32 +0000 2019,"[0, 77]",1,0,"Between 16:00 and 18:30 today, 22% of trips ex..."

In [2]:
# LENGTH OF THE DATA: DO NOT REMOVE THIS TWO-LINE COMMENT. 
# THE LAST LINE IN THIS CELL SHOULD RETURN THE NUMBER OF TWEETS IN THE DATASET.
total_rows_dftweets = dftweets.shape
number_of_tweets = total_rows_dftweets[0]
number_of_tweets

74

In [3]:
# SAVE AND RETURN VARIABLE CALLED collist CONTAINING A LIST OF THE COLUMN HEADERS
collist = dftweets.columns
collist # Leave this as the last line

Index(['created_at', 'display_text_range', 'favorite_count', 'Bad experience',
       'full_text'],
      dtype='object')

In [4]:
# LEAVE THIS CELL HERE AND DO NOT EDIT
import string
punclist = list(string.punctuation)
punclist.remove('#')
punclist.remove('@')
# LEAVE THIS CELL HERE AND DO NOT EDIT

In [32]:
# CREATE AND SAVE COLUMN CALLED mod_text that has no punctuation and is case-insensitive.
# Create a dataframe returns just the column contains tweets
tweets = dftweets[dftweets.columns[4:]]
tweets

i = 0

while i <= 73:
# Make the characteristic in python to case-insensitive
    for i, tweets in tweets.iterrows():
        print(tweets)
# Go through each line of tweets
        mod_text = tweets['full_text'].lowercase()
        # tweets = tweets['full_text'] = map(str.lower, tweets.columns)
        mod_text

full_text    @fictillius @christiansarkis @AndrewConstance ...
Name: 0, dtype: object

AttributeError: 'str' object has no attribute 'lowercase'

In [5]:
# CREATE AND SAVE COLUMN CALLED mod_text that has no punctuation and is case-insensitive.
# Save the full_text into a list
full_text = list(dftweets['full_text'])
full_text

# Write in csv
import csv

# There is no attribute in list for "replace", so convert list into string
my_str = str(full_text)

# Change the case in full_text and remove the punctuations 
from string import punctuation

for string in my_str:
    for p in punctuation:
        my_str = my_str.replace(p, '')
full_text = str(my_str)

with open('mod_text.csv','w') as csvFile:
        writer = csv.writer(csvFile)
        writer.writerows(full_text)

csvFile.close()

In [6]:
# CREATE A LIST OF THE TOP 10 WORDS IN THE DATA AND SAVE AS A CSV
# Make the word appear in a ascending sequence

In [7]:
full_text.count()

TypeError: count() takes at least 1 argument (0 given)

In [ ]:
# CREATE A LIST OF THE TOP 10 WORDS IN THE BAD-EXPERIENCE DATA AND SAVE AS A CSV

Bayes' Rule says that the probability of a tweet being about a personal bad experience (A) given that it includes the word you have selected (B) is equal to the fraction of bad-experience tweets containing the word (p(B|A)) times the fraction of tweets that are about personal bad experiences (p(A)) and divided by the fraction of tweets that contain the word (p(B)). Your goal is to choose a word that maximises your ability to identify a tweet as being about a personal bad experience.
$$ p(A|B)= \frac{p(B|A)*p(A)}{p(B)}$$

In [ ]:
# INSERT CELLS HERE FOR YOUR WORK

In [ ]:
# PROVIDE A WORD FOR THE CLASSIFIER USING THE VARIABLE myword # LEAVE THIS LINE UNTOUCHED.
myword = 
myword # DO NOT EDIT THE LAST LINE OF THIS CELL